@model LibroViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Libros</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="savefrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control"  type="number"/>
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sinopsis" class="control-label"></label>
                <textarea asp-for="Sinopsis" class="form-control"></textarea>
                <span asp-validation-for="Sinopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NPaginas" class="control-label"></label>
                <input asp-for="NPaginas" class="form-control" />
                <span asp-validation-for="NPaginas" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EditorialesId" class="control-label">Editorial</label>
                <select asp-for="EditorialesId" class="form-control" asp-items="@(new SelectList(@ViewBag.editoriales, "Id","Nombre"))">
                    <option disabled selected>--- SELECT ---</option>
                </select>
                <span asp-validation-for="EditorialesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoresIds" class="control-label">Editorial</label>
                <select asp-for="AutoresIds" class="form-control"  multiple="multiple" asp-items="@(new SelectList(@ViewBag.autores, "Id","Nombre"))">
                    <option disabled selected>--- SELECT ---</option>
                </select>
                <span asp-validation-for="AutoresIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button  type="submit"  class="btn btn-primary" id="btnSave" >Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
